#root {
  /* position: relative; */

  /* height: 300px; */
  margin: auto;
}

.game_panel {
  display: grid;
  transition: background-color 1s;
  padding: 20px;
  margin: 25px;
  /* height: 80px; */
  width: 430px;
  border-radius: 15px;
  overflow: hidden;

  grid-template-columns: repeat(3, 1fr);
  /* & h1 {
    text-align: center;
  } */
  & .first_sec {
    /* width: 0; */
    display: block;

    > h1 {
      position: relative;
      margin: auto;
      transform: translateY(-50%);
      top: 50%;
      /* transition: opacity 1s; */
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  & .second_sec {
    /* width: 0; */
    display: block;
    transition: opacity 0.2s;
    & span {
      display: block;
      text-align: center;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    > h1 {
      margin: auto;
      font-size: 4rem;
      text-align: center;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  & .third_sec {
    /* width: 0; */
    display: block;

    & .restart_button {
      position: relative;
      float: right;
      height: 40px;
      width: 70px;
      transform: translateY(-50%);

      top: 50%;
    }
  }
}

.game_container {
  margin: 25px;
  height: 430px;
  width: 430px;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  place-items: center;

  & .game_board {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    place-items: center;

    & .board_cell {
      position: relative;
      /* padding: 3px; */
      width: 100%;
      height: 100%;
      border-radius: 6px;
      cursor: pointer;

      & .grid_item {
        position: relative;
        padding: 10px;
        height: 100px;
        width: 100px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.5s;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .game_panel {
    border: solid 1px #5c5c5c;
    /* color: #ffffff; */
    & .restart_button {
      fill: #d1d1d1;
    }
  }
  .game_container {
    border: solid 1px #5c5c5c;
  }
  .board_cell {
    background-color: #3d3d3d;
  }
}

@media (prefers-color-scheme: light) {
  .game_panel {
    /* color: #5c5c5c; */
    /* color: #eeeeee; */
    border: solid 1px #d1d1d1;
    & .restart_button {
      fill: #5c5c5c;
    }
  }
  .game_container {
    border: solid 1px #d1d1d1;
  }
  .board_cell {
    background-color: #f1f1f1;
  }
}
